#!/bin/bash

HOST=""
PORT=""
UNAME=""
ZONE=""
PASS=""

sed -i "s/hostname/${HOST}/g" ./initspect
sed -i "s/portno/${PORT}/g" ./initspect
sed -i "s/username/${UNAME}/g" ./initspect
sed -i "s/zonename/${ZONE}/g" ./initspect
sed -i "s/password/${PASS}/g" ./initspect
