#!/bin/bash
# SysV service script for dingrod taken from CyVerse python daemonizing template. 
# Fill in the variables below and add to chkconfig.
# /etc/init.d/dingrod
#
# chkconfig: 35 95 05
# user who runs the daemon
DAEMONUSER="dingrod"
# Daemon description
DESC="dingrod irods monitoring service"
# Executable file
NAME=dingrod.py
# Path to executable file
DAEMON=/var/lib/dingrod/$NAME
# Arguments
DAEMON_ARGS="{{dingrod_port}}"
# Script name for init.d
SCRIPTNAME=/etc/init.d/dingrod
DAEMON_NAME=$NAME

# Exit if the package is not installed
[ -x "$DAEMON" ] || exit 0

# Load the VERBOSE setting and other rcS variables
#. /lib/init/vars.sh

# Define LSB log_* functions.
# Depend on lsb-base (>= 3.2-14) to ensure that this file is present
# and status_of_proc is working.
#. /lib/lsb/init-functions
. /etc/init.d/functions
#
# Function that starts the daemon/service
#
do_start()
{
  if [ $UID -ne 0 ] ; then
    echo "no privilege"
    exit 4
  fi
  [ -x $DAEMON ] || exit 5
  echo -n $"Starting $NAME: "
  . /var/lib/dingrod/.bashrc
  daemon --user $DAEMONUSER setsid $DAEMON $DAEMON_ARGS '>/dev/null 2>&1 </dev/null  &'
  retval=$?
  echo
  [ $retval -eq 0 ] 

}

#
# Function that stops the daemon/service
#
do_stop()
{
  if [ $UID -ne 0 ] ; then
    echo "no privilege"
    exit 4
  fi
  echo -n $"Stopping $NAME"
  perl /var/lib/dingrod/dingstop.pl
  retval=$?
  echo
  [ $retval -eq 0 ]
}

case "$1" in
 
    start|stop)
        do_${1}
        ;;
 
    restart|reload|force-reload)
        do_stop
        do_start
        ;;
 
    status)
        dingprocs=$(ps -ef | grep "[/]var/lib/dingrod/dingrod.py" | wc -l )
        if [ $dingprocs -eq 0  ] ; then
          echo "DINGROD STATUS: INACTIVE"
        else
          echo "DINGROD STATUS: ACTIVE"
        fi
        exit 0;
        ;;
    *)
        echo "Usage: /etc/init.d/$DAEMON_NAME {start|stop|restart|status}"
        exit 1
        ;;
 
esac
exit 0
